---
Checks: "readability-identifier-naming,
  modernize-use-braced-initializer,
  modernize-use-nullptr,
  modernize-use-auto,
  bugprone-*,
  performance-*,
  llvm-header-guard,
  bugprone-reserved-identifier"

CheckOptions:
  # --- Naming Rules ---
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: "_"
  - key: readability-identifier-naming.StructMemberCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: camelCase
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ParameterPrefix
    value: "p_"
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key: readability-identifier-naming.AbstractClassPrefix
    value: 'I'

  # --- Modernization Rules ---
  # This enforces: int x{5}; instead of int x = 5;
  - key: modernize-use-braced-initializer.CommonExceptions
    value: "false"
...
