*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk

*.pdb

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.dwo

build/
cmake-build-*/
out/
.cache/

.conan/
CMakeUserPresets.json

.vscode/
.idea/
*.user

compile_commands.json

.DS_Store
Thumbs.db